<footer class="footer">
    <div class="container">
        <a class="text-muted" href="https://github.com/animeghost-ru/animeghost" style="display: inline;">github</a>
        <p class="text-muted" style="display: inline;">Copyright (c) 2019 e.V. AnimeGhost All Rights Reserved.</p>
    </div>
</footer>