<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Animeghost</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item {{index}}">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item {{anime}}">
                <a class="nav-link" href="/anime">Аниме</a>
            </li>
            <li class="nav-item {{manga}}">
                <a class="nav-link" href="/manga">Манга</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Авторизация</a>
            </li>
        </ul>
    </div>
</nav>
