<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>{{title}}</title>
</head>
<body>
{{> nav}}

{{{body}}}

{{> footer}}
</body>
</html>